@import "tailwindcss/preflight";
@tailwind utilities;

@reference "tailwindcss";

@layer base {
    /* html, body, body > div:first-child, #__next, #__next > div:first-child  {
      height: 100%;
      margin: 0;
      overflow-y: hidden;
      } */

    .font-link {
      font-family: 'Montserrat Alternates', Regular;
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: black transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    @keyframes rollout {
        0% {
          transform: translateX(-100%);
          filter: blur(5px);;
        }
        100% {
          transform: translateX(0);
          filter: blur(0);
        }
      }
      .roll-out {
        animation: 1s rollout;
    }
}
@layer components{
    .buttonManga{
        @apply h-12 w-12 rounded-md shadow-md hover:duration-100 hover:-translate-y-3;
      }
}